DATABASE_URL="postgresql://username:password@localhost:5433/db_name?schema=public"
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJ...