{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-css-order"],
	"cssDeclarationSorter": {
		"order": "smacss"
	},
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf"
}
