:root {
	/* Font families */
	--font-primary: 'Poppins', Georgia, sans-serif;

	/* Font sizes */
	--size-label: 12px;
	--size-body-sm: 14px;
	--size-body: 16px;
	--size-heading-sm: 20px;
	--size-heading-md: 24px;
	--size-heading-ml: 32px;
	--size-heading-lg: 48px;
	--size-display: 64px;

	/* Line heights */
	--leading-ultra-dense: 16px;
	--leading-dense: 1.2;
	--leading-moderate: 32px;
	--leading-spacious: 40px;
	--heading-line-loose: 56px;
	--display-line-height: 80px;

	/* Weights */
	--weight-regular: 400;
	--weight-medium: 600;
	--weight-bold: 700;

	/* letter-spacing */
	--letter-spacing-xs: 0%;
	--letter-spacing-s: 2%;
	--letter-spacing-m: 4%;
	--letter-spacing-l: -1.5%;
	--letter-spacing-xl: -2%;

	/* Композитные стили */
	--type-body-regular: var(--weight-regular) var(--size-body) / var(--leading-dense)
		var(--font-primary);

	--type-caption: var(--weight-regular) var(--size-body-sm) / var(--leading-ultra-dense)
		var(--font-primary);

	--type-link-regular: var(--weight-regular) var(--size-body) / var(--leading-dense)
		var(--font-primary);

	--type-heading-two: var(--weight-medium) var(--size-heading-lg) / var(--heading-line-loose)
		var(--font-primary);

	--type-heading-three: var(--weight-medium) var(--size-heading-ml) / var(--leading-spacious)
		var(--font-primary);

	--type-heading-five: var(--weight-bold) var(--size-heading-sm) / 1.2 var(--font-primary);
}
