@import '@fontsource-variable/montserrat';
@import url('./styles/colors.css');
@import url('./styles/typography.css');

:root {
	--font-body: 'Montserrat Variable', arial, sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202 216 228);
	--color-bg-1: hsl(209deg 36% 86%);
	--color-bg-2: hsl(224deg 44% 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgb(0 0 0 / 70%);
	--column-width: 42rem;
	--column-margin-top: 4rem;

	color: var(--color-text);
	font-family: var(--font-body);
}

html {
	box-sizing: border-box;
}

* {
	font-family: var(--font-primary);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgb(255 255 255 / 75%) 0%,
			rgb(255 255 255 / 0%) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	min-width: 370px;
	min-height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	transition:
		color 0.2s ease,
		text-decoration 0.2s ease;
	color: var(--color-theme-1);
	text-decoration: none;
}

a:active {
	text-decoration: underline;
}

a:focus-visible {
	outline: 2px solid var(--color-theme-1);
	outline-offset: 2px;
	border-radius: 2px;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	border-radius: 3px;
	background-color: rgb(255 255 255 / 45%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
	font-size: 16px;
	font-family: var(--font-mono);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button,
input,
select,
textarea {
	appearance: none;
	margin: 0;
	outline: none;
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
}

button {
	cursor: pointer;
}

button:focus-visible {
	outline: 2px solid var(--primary-300);
	outline-offset: 2px;
}

button:focus:not(:focus-visible) {
	outline: none;
}

#app {
	display: flex;
	flex-direction: column;
	background: var(--grey-900) url('$lib/images/background.webp') no-repeat center / cover;
	min-height: 100vh;
}

@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}

	button {
		&:hover {
			opacity: 0.9;
		}

		&:active {
			color: var(--primary-500);
		}
	}
}

.visually-hidden {
	position: absolute;
	margin: 0;
	border: 0;
	padding: 0;
	width: 1px;
	height: auto;
	clip: rect(0 0 0 0);
	overflow: hidden;
	white-space: nowrap;
}
